@import url('https://fonts.googleapis.com/css2? family = Abrir + Sans & display = swap');
@import url('https://fonts.googleapis.com/css2?family=Abrir+Sans&família=Poppins:wght@200&display=swap');
*{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}
#menu{
    list-style: none;
    padding:0;
    background-color: rgb(41, 41, 41);
    display:inline-block;
    min-width: 100%;
}
#menu li{
    display:inline;
}
span{
    padding:20px;
    font-size: 20px;
    color:white;
    font-family: 'Poppins', sans-serif;
}
#menu li a{
    display: inline-block;
    color:white;
    text-decoration:none;
    padding:20px;
    background-color: rgb(41,41,41);
    transition: background .4s;
}
#menu li a:hover{
    display:inline-block;
    color:rgb(255, 255, 255);
    text-decoration:none;
    padding:20px;
    background-color:rgb(88, 88, 88);
}
.capa figure{
    margin-left: 50px;
    margin-bottom: 50px;
}

/*div.header{
   
    background-color: black;
   
    height: 50px;
}
.menu{
     color:rgb(158, 157, 157);
     font-weight: bold;
     width:60px;
     height:40px;
     padding-left: 10px;
     padding-top: 10px;
}
.menu:hover {
    color:white;
}
.lista1{
    display:none;
}
.menu:hover > div.lista1{
    display:block;
    background-color: grey;
}*/